header{
	background: #FFC943;
	padding: 5px;
}
strong{
	color: #FFC943;
	font-size: 30px;
}
a{
	color: #F9492D;
	font-size: 22px;
}
.button{
	background: #F9492D;
}
.image{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 5px;
}